body {
    background: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: 17px bold ;
}
.table {
    
    font-size: 20px;
    background: rgb(187, 192, 255);
    border-radius: 20px;
    margin: 20px;

}
.table table{
    width: 90%;
}
.table table td:nth-child(2), .table td:nth-child(3) {
    color: #777777;
}
.ccilki li{
    display: inline;
}
.contaer {
    margin: 10px;
}
.photo{
    width: 30%;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.info {
    display: flex;
    margin-bottom: 20px;
    
}
.info .text {
    font-weight: bold;
    color: #86898f;
}
    @media (max-width: 650px) {
        .info {
        display: block;
      
    }}
 
.evl {
    background: rgb(255, 224, 201);
    border-radius: 20px;
    margin: 20px;
    padding: 3px;
}
.form h2{
    text-align: center;
}
.i label
 {
display: block;
color: #86898f;
font-size: 14px;
}
.i input, .i textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    padding: 15px 0 10px;
    outline: none;
    margin-bottom: 10px;
}
.forma .i{
    
    margin-right: 10px;
    width: 50%;
}
    @media (max-width: 650px){
        .form {
            display: block;
            width: 100%;
            margin-right: 0;
        }
    }    

.forma {
    display: flex;
}


